*/.deps/
*/.libs/
decodeir/decodeir
decodeir/target
decodeir/Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
decodeir/m4/libtool.m4
decodeir/m4/ltoptions.m4
decodeir/m4/ltsugar.m4
decodeir/m4/ltversion.m4
decodeir/m4/lt~obsolete.m4
*.in
*.o
*.lo
*.la
*.jnilib
*.zip
#Arduino
build-*

